{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Results
{% endblock %}


{% block content %}
    <style>
        .otree-btn-next {
            display: none;
        }
    </style>
    <div style="font-size: 30px;">
        {% if player.id_in_group != 1 %}
        <p>Survey payment: {{ survey_payment }}(<img src="https://i.imgur.com/BQXgE3F.png" alt="grain" style="height: 20px;">)</p>
        <p>Your tokens: {{ your_tokens }}</p>
        <p>Your token Cost: {{ token_cost }}(<img src="https://i.imgur.com/BQXgE3F.png" alt="grain" style="height: 20px;">)</p>
        {% endif %}

        <p>Total tokens: {{ group.defend_token_total }}</p>
        <p>Total token cost: {{ total_token_cost }}</p>
    </div>

    <p>{% next_button %}</p>


{% endblock %}