<html>
<header>
    {% load otree %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.0.4/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.0.4/dist/Draggable.min.js"></script>

    <script src="{% static 'global/js/officer.js' %}"></script>
    <script src="{% static 'global/js/harvest.js' %}"></script>
    <script src="{% static 'global/js/steal.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'global/styles/harvest.css' %}"></link>
    <link rel="stylesheet" type="text/css" href="{% static 'global/styles/steal.css' %}"></link>
    <link rel="stylesheet" type="text/css" href="{% static 'global/styles/officer.css' %}"></link>
    <link rel="stylesheet" type="text/css" href="{% static 'global/styles/main.css' %}"></link>

    <script>
        // data is rendered on api here, then later read by vue instance
        var player = {{ pjson|json }};
        var dtokens = {{ dtokens|json }};
        var frameSize = {{ balance_update_rate }};
        var playerId = {{ player.id }};
        var groupPlayerId = {{ player.id_in_group }};
        var groupId = {{ player.group_id }};
        var harvestScreen = '{{ timeout }}' === 'True';
        var income = {{ player.income }};
        var stealStart = {{ player.steal_start }};
        var roundNumber = {{ subsession.round_number }};
        var sessionId = {{ subsession.session_id }};
        var defendTokenTotal = {{ defend_token_total }};
        var timeout = '{{ timeout }}' === 'True';
        var tutorialDuration = {{ tutorial_duration }};
        var aMax = {{ a_max }};
        var beta = {{ beta }};

        var civilianFine = {{ civilian_fine }};
        var mapSize = {{ civilian_map_size }};
        var defendTokenSize = {{ defend_token_size }};

        var reprimandAmount = {{ officer_reprimand_amount }};
        var playerBalance = {{ player.balance }};
        var reviewProbability = {{ officer_review_probability }};
        var stealTimeoutTime = {{ steal_timeout_duration }};
        var gameDurationSeconds = {{ game_duration_seconds}};

    </script>
</header>
<body>

    <form method="post" role="form" id="form" autocomplete="off" style="display:none">
        {% csrf_token %}
        <button class="otree-btn-next btn btn-primary">Next</button>
    </form>

    {% verbatim %}
    <div>
        <div id="app" v-show="gameStarted">
            <officer-game-component
                id="officerGame"
                class="game-container"
                v-if="isOfficer"
                :maps="maps"
                :officer-units="officerTokens"
                :officer-income="income"
                :investigation-count="investigationCount"
                :defend-token-total="defendTokenTotal"
                :police-log-messages="policeLogMessages"
                :map-size="mapSize"
                :defend-token-size="defendTokenSize"
                :probability-reprimand="probabilityReprimand"
                :reprimand-amount="reprimandAmount"
                @token-drag="tokenDrag"
                @token-update="tokenUpdate"
                @investigation-update="investigationUpdate"
                @defense-token-reset="defenseTokenReset">
            </officer-game-component>
            <div id="harvestGame" class="game-container" v-else>
                <harvest-items-component
                        v-if="harvestScreen"
                        class="harvest"
                        style="display:flex;"
                        :harvest-status="harvestStatus"
                        :income="income"
                        @harvest-update="harvestUpdate">
                </harvest-items-component>
                <steal-game-component
                        v-show="!harvestScreen"
                        ref="stealcomponent"
                        :maps="maps"
                        :group-player-id="groupPlayerId"
                        :player-location="playerLocation"
                        :investigation-count="investigationCount"
                        :defend-token-total="defendTokenTotal"
                        :police-log-messages="policeLogMessages"
                        :map-size="mapSize"
                        :steal-location="stealLocation"
                        :active-steal="activeSteal"
                        :active-steal-maps="activeStealMaps"
                        :fine-notification="fineNotification"
                        :steal-timeout-time="stealTimeoutTime"
                        @location-drag="locationDrag"
                        @location-update="locationUpdate"
                        @location-token-reset="locationTokenReset"
                        @location-token-timeout="locationTokenTimeout"
                >
                </steal-game-component>
                <div v-show="!isOfficer" @click='toggle' class='toggle'>{{ harvestScreen ? 'Steal' : 'Harvest'}}</div>
            </div>
            <div class="panel game-status-container">
                <div class="balance-container">
                    <div class="balance-label">Balance (<img src="https://i.imgur.com/BQXgE3F.png" alt="grain" style="height: 20px;">)</div>
                    <div class="balance" :style="{ color: balanceColor }"> {{Math.floor(balance)}}</div>

                    <div class="notification-label">
                        <div class="steal-notification">{{stealNotification}}</div>
                    </div>

                    <div class="count-container">
                        <div class="title-small data-row">
                            <div class="left"># Intercepts: </div>
                            <div class="right"><strong>{{ interceptCount }}</strong></div>
                        </div>
                        <div style="clear: both"></div>
                        <div class="title-small data-row">
                            <div class="left"># Fines: </div>
                            <div class="right"><strong>{{ arrestsCount }}</strong></div>
                        </div>
                        <div style="clear: both"></div>
                        <div class="title-small data-row">
                            <div class="left"># Reprimands: </div>
                            <div class="right"><strong>{{ falseArrestCount }}</strong></div>
                        </div>
                    </div>
                    <br>
                </div>
                <div class="notifications-container">
                    <br>
                    <div class="title-small">Officer tokens on investigate: <strong>{{investigationCount}}/{{defendTokenTotal}}</strong></div>
                    <br>
                    <probability-bar-component
                            :label="isOfficer ? 'Probability you fine the innocent' : 'Probability fined if you are innocent'"
                            :percent="isOfficer ? probabilityInnocent * 3 : probabilityInnocent">
                    </probability-bar-component>
                    <br>
                    <probability-bar-component
                            :label="isOfficer ? 'Probability you fine the culprit' : 'Probability fined if you are the culprit'"
                            :percent=probabilityCulprit
                    ></probability-bar-component>
                </div>
            </div>
        </div>
        {% endverbatim %}
    </div>

</body>

    <!-- timeout script -->
    <script id="websocket-redirect" src="{% static 'global/js/advance_slowest.js' %}"
        data-socket-url="{{ view.socket_url|safe }}"
        data-redirect-url="{{ view.redirect_url|safe }}"
        data-is-browser-bot="False"
        data-is-debug="True"
    ></script>

    {% verbatim %}
    <script>

        let app = new Vue({
            el: '#app',
            components: {
                'harvest-items-component': harvestItemsComponent,
                'steal-game-component': stealGameComponent,
                'officer-game-component': officerGameComponent,
                'probability-bar-component': probabilityBarComponent,
            },
            data: {
                gameStarted: true,
                player: {},
                isOfficer: true,
                playerId: null,
                groupPlayerId: null,
                groupId: null,
                roundNumber: null,
                sessionId: null,
                playerLocation: {},
                stealLocation: -1,
                policeLogMessages : [],
                messages: [],
                singleMessage: null,
                maps: [],
                balance: 0,
                balanceColor: 'black',
                roi: 0,
                income: null,
                harvestItems: [],
                harvestStatus: 0,
                harvestScreen: true,
                officerTokens: [],
                investigationCount: 0,
                defendTokenTotal: 0,
                stealNotification: "",
                defendTokenSize: 5,
                mapSize: 50,
                gameDuration: 240000,  // milliseconds
                balanceFrequency: 10000,
                activeSteal: 0,
                activeStealMaps: {1:0, 2:0, 3:0, 4:0, 5:0},
                beta: -1,
                aMax: -1,
                fineNotification: "",
                civilianFine: -1,
                messageIndex: 0,
                timeout: null,
                tutorialDuration: null,
                interceptCount: 0,
                arrestsCount: 0,
                falseArrestCount: 0,
                reprimandAmount: 0,
                reviewProbability: 0,
                stealTimeoutTime: 10000,
            },
            created: function () {

                // todo we need to add way to make sure page was not refreshed or way to get timmer of actualy game instead of starting the timmer again.

                this.player = JSON.parse(player);


                this.playerId = playerId;
                this.groupPlayerId = groupPlayerId;
                this.groupId = groupId;
                this.isOfficer = this.groupPlayerId == 1;
                // this.harvestScreen = harvestScreen;
                this.roundNumber = roundNumber;
                this.sessionId = sessionId;
                this.defendTokenTotal = defendTokenTotal;
                this.stealLocation = parseInt(stealStart);
                this.balanceFrequency = frameSize;
                this.aMax = aMax;
                this.beta = beta;

                this.civilianFine = civilianFine;
                this.mapSize = mapSize;
                this.defendTokenSize = defendTokenSize;

                this.reprimandAmount = reprimandAmount;
                this.balance = playerBalance;

                this.reviewProbability = reviewProbability;

                this.stealTimeoutTime = stealTimeoutTime;

                this.gameDuration = gameDurationSeconds * 1000;

                this.timeout = timeout;
                if (this.timeout) {
                    this.tutorialDuration = tutorialDuration;
                    this.gameDuration = this.tutorialDuration;
                }

                // debug
                this.income = parseInt(income);

                // this code is for handling page refreshes
                //if (!this.isOfficer) {
                //    this.playerLocation = {
                //        'player': this.groupPlayerId,
                //        'map': this.player.map,
                //        'x': this.player.x,
                //        'y': this.player.y
                //    }; // todo integrate this into app
                //} else
                if (this.isOfficer) {
                    this.officerTokens = JSON.parse(dtokens);
                }
                //    console.log(this.officerTokens);
                    // todo
                    // this.defendTokenSlots = new Array.fill(9).fill(0)
                    // this.officerTokens.forEach(function(ot) {
                    //     if (ot.slot) {
                    //         this.defendTokenSlots[ot.number-1]
                    //     }
                    // })
                //}

                // player maps
                this.maps = [1, 2, 3, 4, 5];

                //this.gameSyncSocket = new WebSocket('ws://' + window.location.host + '/delegated_punishment/sync/' + this.groupId + '/')
                //this.gameSyncSocket.onopen = (e) => {
                //    console.log('game sync connected')
                //    data = {
                //        'group_id': this.groupId,
                //        'player_id': this.playerId,
                //        'round_number': this.roundNumber,
                //        'join': true,
                //    };
                //    this.gameSyncSocket.send(JSON.stringify(data))
                //};
                //
                //this.gameSyncSocket.onmessage = (e) => {
                //    let data = JSON.parse(e.data)
                //    if (data.start_time) {
                //        let t = data.start_time;
                //        this.gameSyncSocket = data.start_time;
                //        console.log('start_time', t)
                //        this.gameStarted = true;
                //        this.startTimer();
                //    }
                //};


                // todo look into routing questions
                this.gameSocket = new WebSocket('ws://' + window.location.host + '/delegated_punishment/' + this.groupId + '/')
                    this.gameSocket.onopen = (e) => {
                        this.startTimer()
                    };

                    this.gameSocket.onmessage = (e) => {
                        let data = JSON.parse(e.data);
                        if (data.balance) {
                            this.activeStealMaps = data.balance.active_maps
                            let latestBalance = data.balance[this.groupPlayerId].balance
                            let stealingFromPlayer = data.balance[this.groupPlayerId].victim_count
                            this.activeSteal = data.balance[this.groupPlayerId].map

                            if (latestBalance === this.balance) { // balance has not changed
                                this.balanceColor = "black"
                            } else if (latestBalance < this.balance) { // balance decreasing
                                this.balanceColor = "red"
                            } else {
                                // balance increasing
                                this.balanceColor = "green"
                            }

                            this.balance = latestBalance;
                            this.roi = data.roi
                        } else if (data.intersections) {
                            // console.log(data.intersections);
                            this.messageIndex++;
                            data.intersections.forEach((i) => {
                                this.showIntersection(i);
                            })
                        } else if (data.investigation_update || data.investigation_update === 0) {
                            this.investigationCount = data.investigation_update
                        }
                    };

                this.gameSocket.onclose = (e) => {
                    console.error('CHANNEL CLOSED UNEXPECTEDLY');
                };

                if (this.isOfficer)
                     this.subscribeToBalance()

            },
            methods: {
                gameReady: function() {
                    console.log('game ready function')
                },
                toggle: function() {
                    if (this.harvestScreen) { // toggle to steal
                        // update local harvest status
                        this.harvestStatus = 0;
                        // send toggle event to db
                        this.stealActive();

                        this.harvestScreen = !this.harvestScreen;

                        this.positionStealToken();

                    } else { // toggle to harvest
                        // reset steal location

                        // reset harvest status and send toggle event to db
                        this.harvestScreen = !this.harvestScreen;
                        this.harvestActive();
                    }
                },
                gameUpdate: function(data) {

                    // todo can we merge objects here like we do with update() on the backend
                    data.player_id = this.playerId
                    data.group_id = this.groupId
                    data.round_number = this.roundNumber
                    data.session_id = this.sessionId

                    console.log(data)

                    this.gameSocket.send(JSON.stringify(data));
                },
                stealActive: function() {
                    // screen was toggled to steal
                    this.gameUpdate({
                        'toggle': {harvest: false},
                    });
                },
                harvestActive: function() {
                    this.stealLocation = Math.floor(Math.random() * 20)+1;
                    this.gameUpdate({
                        'toggle': {harvest: true, steal_reset: this.stealLocation},
                    });
                },
                harvestUpdate: function (status) {
                    this.harvestStatus++;

                    this.gameUpdate({
                        'harvest': {status: this.harvestStatus},
                    });

                    // reset harvest cycle
                    if (this.harvestStatus == 4) {
                        this.harvestStatus = 0;
                        // reset harvest items
                        gsap.to('#seed, #water, #plow, #harvest', 0, {autoAlpha: 1});
                    }
                },
                subscribeToBalance: function () {
                    setInterval(() => {
                        if (this.gameSocket.readyState == WebSocket.OPEN) {
                            this.gameUpdate({
                                'balance': true,
                            });
                        } else {
                            console.log('the web socket is not connected')
                        }
                    }, this.balanceFrequency);
                },
                positionStealToken: function() {
                    if (this.harvestScreen) // update this so we dont check multiple times
                        return;
                    this.$nextTick(() => {
                         this.$refs.stealcomponent.setStealLocation();
                    });
                },
                tokenDrag: function(token) {
                    this.gameUpdate({
                        'defend_token_drag': token,
                    });
                },
                tokenUpdate: function (token) {
                    this.gameUpdate({
                        'defend_token_update': token,
                    });
                },
                investigationUpdate: function(item) {
                    // inform the api that the item is being dragged
                    item.map = 0;
                    this.gameUpdate({
                        'investigation_update': item,
                    });
                },
                locationDrag: function(location) {
                    this.gameUpdate({
                        'steal_token_drag': location,
                    });
                },
                locationUpdate: function (location) {
                    this.gameUpdate({
                        'steal_token_update': location,
                    });
                },
                locationTokenReset: function(x) {
                    // this function informs the api that the token has reset

                    if (x === this.stealLocation) {
                        // watch won't be triggered here so we need to trigger the function manually
                        this.$refs.stealcomponent.setStealLocation();
                    }
                    this.stealLocation = x
                    this.gameUpdate({
                        'steal_token_reset': {'steal_location': x,},
                    });
                },
                locationTokenTimeout: function(x) {
                    this.stealLocation = x;
                    if (x === this.stealLocation) {
                        // watch won't be triggered here so we need to trigger the function manually
                        this.$refs.stealcomponent.setStealLocation();
                    }
                    this.gameUpdate({
                        'steal_token_timeout': {'steal_location': x,}
                    })
                },
                defenseTokenReset: function(tokenNumber) {
                    this.gameUpdate({
                        'defend_token_reset': tokenNumber,
                    });
                },
                showIntersection: function (i) {

                    this.interceptCount += 1;

                    if (i.officer_reprimand > 0)
                        this.falseArrestCount++;

                    if (i.guilty)
                        this.arrestsCount++;

                    if (this.isOfficer) {
                        // intersection-label-' + (map+1) + '-' + (player_id + 1)
                        if (i.officer_reprimand) {
                            this.stealNotification = "You were reprimanded!";
                            setTimeout(() => {
                                this.stealNotification = '';
                            }, 2000);
                        }

                        // determine text for label
                        let labelText = -1;
                        let labelColor = 'powderblue';
                        if (i.officer_reprimand) {
                            labelText = -1 * (i.officer_reprimand - i.officer_bonus);
                            labelColor = 'red';
                        } else if (i.officer_bonus > 0){
                            labelText = '+' + i.officer_bonus;
                            labelColor = 'green';
                        } else {
                            labelText = '0';
                            labelColor = 'black';
                        }
                        let labelElement = document.getElementById('intersection-label-' + i.map + "-" + i.culprit);
                        labelElement.style.color = labelColor;
                        labelElement.innerText = labelText;

                        let intersectionSelector = '#indicator-' + i.map + '-' + i.culprit;
                        let labelSelector = '#intersection-label-' + i.map + '-' + i.culprit;
                        let tl = gsap.timeline();
                        let x = i.culprit_x - 3;
                        let y = i.culprit_y - 3;

                        tl.to(intersectionSelector, 0, {left: x+1, top: y+1});
                        tl.to(labelSelector, 0, {left: x-13, top: y-30});
                        tl.to(intersectionSelector + ',' + labelSelector, {visibility: 'visible'});
                        tl.to(intersectionSelector + ',' + labelSelector, {visibility: 'hidden', delay: 2})


                    } else {
                        // was player the culprit
                        if (i.culprit == this.groupPlayerId) {
                            this.stealLocation = i.steal_reset;
                            this.$refs.stealcomponent.cancelTimeout()
                            this.positionStealToken()
                        }

                        if (i.guilty == this.groupPlayerId) {
                            this.fineNotification = "Fined -" + this.civilianFine;

                            this.stealNotification = "You were fined!";
                            setTimeout(() => {
                                this.stealNotification = '';
                                this.fineNotification = '';
                            }, 2000);
                        }

                        let selector = '#indicator-' + i.map + '-' + i.culprit;
                        let tl = gsap.timeline();
                        let x = i.culprit_x - 3;
                        let y = i.culprit_y - 3;

                        tl.to(selector, 0, {left: x+1, top: y+1});
                        tl.to(selector, {visibility: 'visible'});
                        tl.to(selector, {visibility: 'hidden', delay: 2})
                    }

                },
                startTimer: function() {
                    if (this.groupPlayerId == 1) {
                        // set start time
                        this.gameUpdate({
                            'period_update': {'period_start': true},
                        });
                    }
                    // start 4 minute timer
                    setTimeout(() => {
                        // officer records period end
                        if (this.groupPlayerId == 1)
                            this.periodEndEvent();

                        // close socket
                        this.gameSocket.close()
                        document.getElementById('form').submit()
                    }, this.gameDuration); // 4 minute periods

                },
                periodEndEvent: function() {
                    this.gameUpdate({
                        'period_update': { 'period_end': true },
                    });
                }
            },
            computed: {
                probabilityCulprit() {
                    if (this.investigationCount > this.aMax)
                        return this.beta * 100;
                    else {
                        return Math.round((2 + this.investigationCount) * (9/80)*10000) / 100
                    }
                },
                probabilityInnocent() {
                    if (this.investigationCount > this.aMax)
                        return 0;
                    else {
                        return Math.round((6 - this.investigationCount) * (9/240)*10000) / 100
                    }
                },
                probabilityReprimand() {
                    return Math.round(this.reviewProbability * 3 * this.probabilityInnocent);
                }
            },
        });
    </script>
    {% endverbatim %}
</html>