<html>
<header>
    {% load otree %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.0.4/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.0.4/dist/Draggable.min.js"></script>

    <link rel="stylesheet" href="/static/bootstrap4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap4/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/static/otree/css/theme.css">

    <script src="{% static 'global/js/grain-img.js' %}"></script>
    <script src="{% static 'global/js/probability-bar.js' %}"></script>
    <script src="{% static 'global/js/officer.js' %}"></script>
    <script src="{% static 'global/js/harvest.js' %}"></script>
    <script src="{% static 'global/js/steal.js' %}"></script>
    <script src="{% static 'global/js/game-status.js' %}"></script>
    <script src="{% static 'global/js/results-modal.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'global/styles/game-status.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'global/styles/harvest.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'global/styles/steal.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'global/styles/officer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'global/styles/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'global/styles/modal.css' %}">

    <script>
        // data is rendered on api here, then later read by vue instance
        var player = {{ pjson|json }};
        var dtokens = {{ dtokens|json }};
        var raw_config = {{ config|json }};
        var config = JSON.parse(raw_config);

        var playerId = {{ player.id }};
        var groupPlayerId = {{ player.id_in_group }};
        var groupId = {{ player.group_id }};
        var income = {{ player.income }};

        var stealStart = {{ player.steal_start }};
        var tutorial = '{{ tutorial }}' === 'True';

        var roundNumber = {{ subsession.round_number }};
        var sessionId = {{ subsession.session_id }};

    </script>
</header>
<body>

    <form method="post" role="form" id="form" autocomplete="off" style="display:none">
        {% csrf_token %}
        <button class="otree-btn-next btn btn-primary">Next</button>
    </form>

    {% verbatim %}
    <div id="app">
        <div class="outer-container" v-show="gameStarted">
            <officer-game-component
                id="officerGame"
                class="game-container"
                v-if="isOfficer"
                ref="officercomponent"
                :maps="maps"
                :initial-defend-tokens="officerTokens"
                :officer-income="income"
                :investigation-count="investigationCount"
                :defend-token-total="defendTokenTotal"
                :police-log-messages="policeLogMessages"
                :map-size="mapSize"
                :defend-token-size="defendTokenSize"
                :probability-reprimand="probabilityReprimand"
                :reprimand-amount="reprimandAmount"
                @token-drag="tokenDrag"
                @token-update="tokenUpdate"
                @investigation-update="investigationUpdate"
                @defense-token-reset="defenseTokenReset">
            </officer-game-component>
            <div id="harvestGame" class="game-container" v-else>
                <harvest-items-component
                        v-if="harvestScreen"
                        class="harvest"
                        :harvest-status="harvestStatus"
                        :income="income"
                        @harvest-update="harvestUpdate">
                </harvest-items-component>
                <steal-game-component
                        v-show="!harvestScreen"
                        ref="stealcomponent"
                        :maps="maps"
                        :group-player-id="groupPlayerId"
                        :player-location="playerLocation"
                        :investigation-count="investigationCount"
                        :defend-token-total="defendTokenTotal"
                        :police-log-messages="policeLogMessages"
                        :map-size="mapSize"
                        :steal-location="stealLocation"
                        :active-steal="activeSteal"
                        :active-steal-maps="activeStealMaps"
                        :fine-notification="fineNotification"
                        :steal-timeout-milli="stealTimeoutMilli"
                        :steal-token-slots="stealTokenSlots"
                        @location-drag="locationDrag"
                        @location-update="locationUpdate"
                        @location-token-reset="locationTokenReset"
                        @location-token-timeout="locationTokenTimeout"
                >
                </steal-game-component>
                <div v-show="!isOfficer" @click='toggle' class='toggle'>{{ harvestScreen ? 'Steal' : 'Harvest'}}</div>
            </div>
            <game-status-component
                :civilians-per-group="civiliansPerGroup"
                :balance="balance"
                :balance-color="balanceColor"
                :steal-notification="stealNotification"
                :intercepts-count="interceptsCount"
                :fines-count="finesCount"
                :reprimands-count="reprimandsCount"
                :investigation-count="investigationCount"
                :defend-token-total="defendTokenTotal"
                :is-officer="isOfficer"
                :a-max="aMax"
                :beta="beta"
                :review-probability="reviewProbability"
                @update-probability-reprimand="updateProbabilityReprimand"
            ></game-status-component>
            <results-modal-component ref="resultsmodal" :results-obj="resultsObj" :is-officer="isOfficer"></results-modal-component>
        </div>
        <div v-show="!gameStarted" class="title">Loading...</div>
    </div>
    {% endverbatim %}

</body>

    <script id="websocket-redirect" src="{% static 'global/js/advance_slowest.js' %}"
        data-socket-url="{{ view.socket_url|safe }}"
        data-redirect-url="{{ view.redirect_url|safe }}"
        data-is-browser-bot="False"
        data-is-debug="True"
        data-advance-delay="{{ advance_delay_milli }}"
    ></script>

    {% verbatim %}
    <script>

        // register vue filter
        function integerFilter(x) {
            if (!x) return 0

            else return x.toFixed(0)
        }

        Vue.filter('integerFilter', integerFilter)

        let app = new Vue({
            el: '#app',
            components: {
                'harvest-items-component': harvestItemsComponent,
                'steal-game-component': stealGameComponent,
                'officer-game-component': officerGameComponent,
                'game-status-component': gameStatusComponent,
                'probability-bar-component': probabilityBarComponent,
                'results-modal-component': resultsModalComponent,
                'grain-image-component': grainImageComponent,
            },
            data: {
                gameStarted: false,
                player: {},
                isOfficer: true,
                playerId: playerId,
                groupPlayerId: groupPlayerId,
                groupId: groupId,
                roundNumber: roundNumber,
                sessionId: sessionId,
                playerLocation: {},
                stealLocation: -1,
                policeLogMessages : [],
                messages: [],
                singleMessage: null,
                maps: [],
                balance: 0,
                balanceColor: 'black',
                roi: 0,
                income: parseInt(income),
                harvestItems: [],
                harvestStatus: 0,
                harvestScreen: true,
                officerTokens: [],
                investigationCount: 0,
                stealNotification: "",
                activeSteal: 0,
                activeStealMaps: {},
                fineNotification: "",
                tutorial: tutorial,
                interceptsCount: 0,
                finesCount: 0,
                reprimandsCount: 0,
                probabilityReprimand: 0,
                config: config,
                balanceInterval: null,

                civiliansPerGroup: 5,
                resultsObj: {},
                roundOver: false,

                hostSyncPoll: null, // an interval for host to check if all players are ready

                tutorialDuration: config.tutorial_duration_seconds * 1000,
                resultsModalDuration: config.results_modal_seconds * 1000,
                gameDuration: config.game_duration_seconds * 1000,
            },
            created: function () {

                // initialize
                this.initializeVariables();
                this.configureOfficerTokens();
                this.configureCivilianMaps();

                // connect and listen web sockets
                this.configureGameSync();
                this.configureGame();

            },
            methods: {
                setStartMilliseconds: function() {

                    if (this.gameStatus === 0) {
                        // SYNC: set game start time
                        window.localStorage.setItem(this.gameStartKey, Date.now());
                    } else if (this.gameStatus === 1) {
                        // ACTIVE: game has already started. Get start time and calculate remaining time in round

                        let val = window.localStorage.getItem(this.gameStartKey)

                        if (val === null) {
                            console.error('Unable to find game start timer in localstorage')
                            return
                            // todo: reload here?
                        }

                        let startMilliseconds = parseInt(val);

                        let timeSinceStart = Date.now() - startMilliseconds;
                        this.gameDuration -= timeSinceStart;

                        this.gameStarted = true;

                        console.log("Remaining time in the round is: ", this.gameDuration);
                    } else if (this.gameStatus === 2) {
                        // RESULTS: game has ended and results stage started. Set remaining game time to 0, and calculate the remaining time results modal is displayed

                        this.gameDuration = 0;
                        this.tutorialDuration = 0;

                        // is there a value in the storage?
                        let val = window.localStorage.getItem(this.resultsStartKey);

                        // no value found in storage
                        if (val === null) {
                            // there is no value so we must display it or check the status of the game via event_hub
                            console.error('No start time for results modal in localStorage');

                            this.submit();
                        }

                        // assign updated value for results modal
                        let timeSinceResults = Date.now() - parseInt(val);

                        this.resultsModalDuration -= timeSinceResults;

                        this.gameStarted = true;

                        if (this.resultsModalDuration < 0) {
                            console.log("Time remaining for results modal is negative. Advancing to next page...")
                            this.submit();
                        } else {
                            console.log('opening results modal')
                            this.endRound()
                        }

                    } else {
                        // something went wrong: game status not recognized. Advance to next page
                        console.error("something went wrong. invalid gameStatus variable");
                        this.submit();
                    }

                },
                submit: function() {
                    // submit the hidden form to advance to next page
                    document.getElementById('form').submit();
                },
                configureGameSync: function() {
                    this.gameSyncSocket = new WebSocket('ws://' + window.location.host + '/delegated_punishment/sync/' + this.groupId + '/')
                    this.gameSyncSocket.onopen = (e) => {

                       console.log('game sync connected')
                        // if game is in SYNCING stage signal that players are ready
                        if (this.gameStatus === 0) {
                            this.playerReady()

                            // host polls backend
                            if (this.isHost) {
                                this.hostSyncPoll = setInterval(() => {
                                    this.checkSyncStatus()
                                }, 2000);
                            }
                        }
                    };

                    this.gameSyncSocket.onmessage = (e) => {
                        let data = JSON.parse(e.data);

                        // host (always p1) listens for signal that all players are ready
                        if (data.sync_status && this.isHost) {
                            if (this.hostSyncPoll) {
                                // stop host polling
                                clearInterval(this.hostSyncPoll);
                            }

                            // prevent duplicate start events
                            if (!this.gameStarted) {

                                console.log('round start called by host')

                                // inform event hub that game can start. This notifies all players the game has started
                                this.gameUpdate({
                                    'round_update': {'round_start': true},
                                });
                            }
                        }
                    };
                },
                checkSyncStatus: function() {
                    let data = {
                        'group_id': this.groupId,
                        'player_id': this.playerId,
                        'round_number': this.roundNumber,
                        'sync_status': true,
                    }
                    this.gameSyncSocket.send(JSON.stringify(data));
                },
                playerReady: function() {
                    let data = {
                        'group_id': this.groupId,
                        'player_id': this.playerId,
                        'round_number': this.roundNumber,
                        'ready': true,
                    };
                    this.gameSyncSocket.send(JSON.stringify(data));
                },
                configureGame: function() {
                    this.gameSocket = new WebSocket('ws://' + window.location.host + '/delegated_punishment/' + this.groupId + '/');
                    this.gameSocket.onopen = (e) => {
                        console.log('game socket opened')

                        if (this.gameStatus !== 0) {
                            // the page was reloaded
                            this.startGame()
                        }

                    };

                    this.gameSocket.onmessage = (e) => {

                        let data = JSON.parse(e.data);

                        // prevent sending events if round is over
                        if (this.roundOver) {
                             if (data.round_results) {
                                 console.log('round results')
                                this.resultsObj = data.round_results
                                this.balance = this.resultsObj.balance
                            }
                             return
                        }

                        if (data.balance) {
                            this.activeStealMaps = data.balance.active_maps;
                            let latestBalance = data.balance[this.groupPlayerId].balance;
                            this.activeSteal = data.balance[this.groupPlayerId].map;

                            if (latestBalance === this.balance) { // balance has not changed
                                this.balanceColor = "black"
                            } else if (latestBalance < this.balance) { // balance decreasing
                                this.balanceColor = "red"
                            } else {
                                // balance increasing
                                this.balanceColor = "green"
                            }

                            this.balance = latestBalance;

                        } else if (data.intersections) {
                            // update officer history
                            this.updateOfficerHistory(data.officer_history);

                            data.intersections.forEach((i) => {
                                this.showIntersection(i);
                            })
                        } else if (data.investigation_update || data.investigation_update === 0) {

                            this.investigationCount = data.investigation_update

                        } else if (data.round_end) {

                            this.endRound()

                        } else if (data.round_start) {
                            // this occurs when host informs players game has started
                            console.log('Round Started')

                            this.startGame();
                        }
                    };

                    this.gameSocket.onclose = (e) => {
                        console.log('GAME SOCKET HAS CLOSED');
                    };
                },
                configureOfficerTokens: function() {
                    if (this.isOfficer) {
                        this.officerTokens = JSON.parse(dtokens);
                        this.officerTokens.forEach((t) => {
                            t.slot = t.number;
                            t.map = 0;
                        });
                    }
                },
                configureCivilianMaps: function() {
                    // player maps
                    this.maps = [];
                    for (let i = 1; i < this.playersPerGroup; i++) {
                        this.activeStealMaps[i] = 0;
                        this.maps.push(i);
                    }
                },
                initializeVariables: function() {
                    this.player = JSON.parse(player);

                    this.isOfficer = this.groupPlayerId === 1;
                    this.stealLocation = parseInt(stealStart);
                },
                endRound: function() {
                    // get results from backend
                    this.getRoundResults()
                    this.roundOver = true
                    // open modal
                    this.openResultsModal()
                },
                getRoundResults: function() {
                    // players individually pull results
                    let x = {
                      'round_update': {
                          'round_results': true
                      }
                    };
                    this.gameUpdate(x);
                },
                openResultsModal: function() {

                    // record when results modal opens in case of reload
                    if (!window.localStorage.getItem(this.resultsStartKey)) {
                        window.localStorage.setItem(this.resultsStartKey, Date.now())
                    }

                    // todo: this was changed from setTimeout and needs to be tested
                    this.$nextTick(() => {
                         this.$refs.resultsmodal.openModal();
                    });

                    console.log('Opening results modal for ' + this.resultsModalDuration + ' milliseconds')

                    // settimeout to close modal
                    setTimeout(()=>{
                            this.closeGameSocket()

                            // submit game
                            console.log('results modal has timed out. Advancing to next page.')
                            this.submit();
                        },
                        this.resultsModalDuration
                    )
                },
                closeGameSocket() {
                    console.log('Closing game socket')
                    this.gameSocket.close()
                },
                toggle: function() {
                    if (this.harvestScreen) { // toggle to steal
                        // update local harvest status
                        this.harvestStatus = 0;
                        // send toggle event to db
                        this.stealActive();

                        this.harvestScreen = !this.harvestScreen;

                        this.positionStealToken();

                    } else { // toggle to harvest

                        // reset harvest status and send toggle event to db
                        this.harvestScreen = !this.harvestScreen;
                        this.harvestActive();
                    }
                },
                gameUpdate: function(data) {

                    if (this.gameSocket.readyState !== WebSocket.OPEN) {
                        console.log('Game socket is closed. Cannot send data to event hub', data);
                        return
                    }

                    data.player_id = this.playerId
                    data.group_id = this.groupId
                    data.round_number = this.roundNumber
                    data.session_id = this.sessionId

                    this.gameSocket.send(JSON.stringify(data));
                },
                stealActive: function() {
                    // screen was toggled to steal
                    this.gameUpdate({
                        'toggle': {harvest: false},
                    });
                },
                harvestActive: function() {
                    this.stealLocation = Math.floor(Math.random() * 20)+1;
                    this.gameUpdate({
                        'toggle': {harvest: true, steal_reset: this.stealLocation},
                    });
                },
                harvestUpdate: function (status) {
                    this.harvestStatus++;

                    this.gameUpdate({
                        'harvest': {status: this.harvestStatus},
                    });

                    // reset harvest cycle
                    if (this.harvestStatus === 4) {
                        this.harvestStatus = 0;
                        // reset harvest items
                        gsap.to('#seed, #water, #plow, #harvest', 0, {autoAlpha: 1});
                    }
                },
                subscribeToBalance: function () {
                    if (!this.isHost)
                        return

                    this.balanceInterval = setInterval(() => {
                        if (this.gameSocket.readyState === WebSocket.OPEN) {
                            this.gameUpdate({
                                'balance': true,
                            });
                        } else {
                            console.log('the web socket is not connected')
                        }
                    }, this.balanceFrequency);
                },
                unsubscribeBalance: function() {
                    if (this.balanceInterval)
                        clearInterval(this.balanceInterval);
                },
                positionStealToken: function() {
                    if (this.harvestScreen) // update this so we dont check multiple times
                        return;
                    this.$nextTick(() => {
                         this.$refs.stealcomponent.setStealLocation();
                    });
                },
                investigationUpdate: function(item) {
                    // inform the api that the item is being dragged
                    this.gameUpdate({
                        'investigation_update': item,
                    });
                },
                updateOfficerHistory: function(officerHistory) {
                    // update officer_history
                    this.interceptsCount = officerHistory.intercept;
                    this.finesCount = officerHistory.fine;
                    this.reprimandsCount = officerHistory.reprimand;
                },
                showIntersection: function (i, officerHistory) {

                    if (this.isOfficer) {
                        // intersection-label-' + (map+1) + '-' + (player_id + 1)
                        if (i.officer_reprimand) {
                            this.stealNotification = "You were reprimanded!";
                            setTimeout(() => {
                                this.stealNotification = '';
                            }, 2000);
                        }

                        // determine text for label
                        let labelText = -1;
                        let labelColor = 'powderblue';
                        if (i.officer_reprimand) {
                            labelText = -1 * (i.officer_reprimand - i.officer_bonus);
                            labelColor = 'red';
                        } else if (i.officer_bonus > 0){
                            labelText = '+' + i.officer_bonus;
                            labelColor = 'green';
                        } else {
                            labelText = '0';
                            labelColor = 'black';
                        }
                        let labelElement = document.getElementById('intersection-label-' + i.map + "-" + i.culprit);
                        labelElement.style.color = labelColor;
                        labelElement.innerText = labelText;

                        let intersectionSelector = '#indicator-' + i.map + '-' + i.culprit;
                        let labelSelector = '#intersection-label-' + i.map + '-' + i.culprit;
                        let circleSelector = '#indicator-' + i.map + '-' + i.culprit + '-circle';

                        let x = i.culprit_x - 10;
                        let y = i.culprit_y - 10;

                        let tl = gsap.timeline();

                        tl.to(intersectionSelector, 0, {left: x+1, top: y+1});
                        tl.to(labelSelector, 0, {left: x-42, top: y-35});
                        tl.to(intersectionSelector + ',' + labelSelector, {visibility: 'visible'});

                        // indicator pulse
                        tl.to(circleSelector, {duration: 1, r: 8})

                        tl.to(intersectionSelector + ',' + labelSelector, {visibility: 'hidden'})

                        // reset circle
                        tl.to(circleSelector, {r: 4});


                    } else {
                        // was player the culprit
                        if (i.culprit === this.groupPlayerId) {
                            this.stealLocation = i.steal_reset;
                            this.$refs.stealcomponent.cancelTimeout()
                            this.positionStealToken()
                        }

                        if (i.guilty === this.groupPlayerId) {
                            this.fineNotification = "Fined -" + this.civilianFine;

                            this.stealNotification = "You were fined!";
                            setTimeout(() => {
                                this.stealNotification = '';
                                this.fineNotification = '';
                            }, 2000);
                        }

                        let selector = '#indicator-' + i.map + '-' + i.culprit;
                        let circleSelector = '#indicator-' + i.map + '-' + i.culprit + '-circle';
                        let x = i.culprit_x - 10;
                        let y = i.culprit_y - 10;

                        let tl = gsap.timeline();

                        tl.to(selector, 0, {left: x+1, top: y+1});

                        // display
                        tl.to(selector, 0, {visibility: 'visible'});

                        // indicator pulse
                        tl.to(circleSelector, {duration: 1, r: 8})

                        // hide indicator
                        tl.to(selector, 0, {visibility: 'hidden'});

                        // reset circle
                        tl.to(circleSelector, {r: 4});
                    }

                },
                startGame: function() {

                    this.setStartMilliseconds();

                    this.gameStarted = true;

                    this.subscribeToBalance();

                    setTimeout(() => {
                        // officer records round end
                        // todo: the round end event should originate from the api. schedule it when the game is started
                        if (this.isHost) {
                            this.unsubscribeBalance();
                            this.roundEndEvent();
                        }

                        this.disableTokens()
                    }, this.tutorial? this.tutorialDuration : this.gameDuration );

                },
                disableTokens: function() {
                    if (this.isOfficer) {
                        this.$refs.officercomponent.disableAllTokens()
                    } else {
                        this.$refs.stealcomponent.roundEnd()
                    }
                },
                roundEndEvent: function() {
                    if (this.gameStatus === 2) { // other players have already been notified
                        console.log('other players have already been notified of end round.');
                        return;
                    }
                    this.gameUpdate({
                        'round_update': { 'round_end': true },
                    });
                },
                updateProbabilityReprimand: function(value) {
                    this.probabilityReprimand = value
                },
                locationDrag: function(location) {
                    this.gameUpdate({
                        'steal_token_drag': location,
                    });
                },
                locationUpdate: function (location) {
                    this.gameUpdate({
                        'steal_token_update': location,
                    });
                },
                locationTokenReset: function(x) {
                    // this function informs the api that the token has reset

                    if (x === this.stealLocation) {
                        // watch won't be triggered here so we need to trigger the function manually
                        this.$refs.stealcomponent.setStealLocation();
                    }
                    this.stealLocation = x
                    this.gameUpdate({
                        'steal_token_reset': {'steal_location': x,},
                    });
                },
                locationTokenTimeout: function(x) {
                    this.stealLocation = x;
                    if (x === this.stealLocation) {
                        // watch won't be triggered here so we need to trigger the function manually
                        this.$refs.stealcomponent.setStealLocation();
                    }
                    this.gameUpdate({
                        'steal_token_timeout': {'steal_location': x,}
                    })
                },
                defenseTokenReset: function(token) {
                    this.gameUpdate({
                        'defend_token_reset': {'number': token.number, 'slot': token.slot},
                    });
                },
                tokenDrag: function(token) {
                    this.gameUpdate({
                        'defend_token_drag': token,
                    });
                },
                tokenUpdate: function (token) {
                    this.gameUpdate({
                        'defend_token_update': token,
                    });
                },
            },
            computed: {
                aMax() { return config.a_max },
                beta() { return config.beta },
                balanceFrequency() { return config.balance_update_rate },
                civilianFine() { return config.civilian_fine },
                defendTokenSize() { return config.defend_token_size },
                defendTokenTotal() { return config.defend_token_total },
                gameStartKey() { return 'round' + this.roundNumber + 'group' + this.groupId },
                gameStatus() { return config.game_status },
                isHost() { return this.groupPlayerId === 1 },
                mapSize() { return config.civilian_map_size },
                playersPerGroup() { return config.players_per_group },
                reprimandAmount() { return config.officer_reprimand_amount },
                resultsStartKey() { return this.gameStartKey + 'results' },
                reviewProbability() { return config.officer_review_probability },
                stealTimeoutMilli() { return config.steal_timeout_milli },
                stealTokenSlots() { return config.steal_token_slots },
            },
        });

        // allow other scripts to call vue instance methods
        function activateResults() {
            app.endRound()
        }

    </script>
    {% endverbatim %}
</html>