{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Intermission
{% endblock %}


{% block content %}
    <style>
        .otree-btn-next {
            display: none;
        }
    </style>
    <p style="width: 75%; font-size: 30px;">
        {{ info }}
        <br>
        <br>

        {% if player.id_in_group > 1 %}
            You will earn <strong>{{ player.income }}</strong> grain for each harvest and <strong>{{ steal_rate }}</strong> grain for each second of successful stealing.
            <br>
            <br>
        {% endif %}

        The officer earns <strong>{{ officer_bonus }}</strong> grain per crime cleared <br>and loses <strong>{{ officer_reprimand }}</strong> grain if they are reprimanded (which may happen when an innocent person is fined)
        <br>
        <br>

        These periods will be used to calculate your payoffs at the end of the game.
    </p>
    <p>{% next_button %}</p>

{% endblock %}
