{% load otree %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.0.4/dist/gsap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.0.4/dist/Draggable.min.js"></script>

<!-- <script src="{% static 'global/js/main.js' %}"></script> -->
<script src="{% static 'global/js/officer.js' %}"></script>
<script src="{% static 'global/js/harvest.js' %}"></script>
<script src="{% static 'global/js/steal.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'global/styles/main.css' %}"></link>
<link rel="stylesheet" type="text/css" href="{% static 'global/styles/harvest.css' %}"></link>
<link rel="stylesheet" type="text/css" href="{% static 'global/styles/steal.css' %}"></link>
<link rel="stylesheet" type="text/css" href="{% static 'global/styles/officer.css' %}"></link>


<script>
    var player = {{ pjson|json }}
    console.log(player);
</script>

<div>
    <div class="card bg-light instructions" style="display: none">
        <div class="card-body">
            <h2>
                Player <span id="playerId">{{player.id_in_group}}</span> <span id="groupPlayerId" style="display:none">{{player.id_in_group}}</span>
            </h2>
        </div>
    </div>

    {% verbatim %}
    <div id="app">
        <div class="panel game">
            <div id="officerGame" v-if="isOfficer">
                <police-game-component :properties="properties" :officer-units="officerUnits" v-on:token-update="tokenUpdate"></police-game-component>
            </div>
            <div id="harvestGame" v-else>
                <harvest-items-component class="harvest" v-show="harvest" style="display:flex;"></harvest-items-component>
                <steal-game-component v-show="!harvest" :properties="properties" :player-group-id="playerGroupId" :player-location="playerLocation" v-on:location-update="locationUpdate"></steal-game-component>
            </div>
        </div>
        <div class="panel status">
            <div class="balance-container">
                <div class="balance">Balance: {{balance}}</div>
            </div>
            <div class="notifications-container">
                <div>Notifications: {{singleMessage}}</div>
                <div id="generalFeed" class="messageBox">
                    <div v-for="message in messages">
                        <div v-if="playerId == message.p_id">You: {{message}}</div>
                        <div v-else><b>{{message}}</b></div>
                    </div>
                </div>  
            </div>
            <button v-show="!isOfficer" @click='harvest = !harvest' class='toggle'>{{ harvest ? 'Steal' : 'Harvest'}}</button>
        </div>
        {% endverbatim %}
        <!-- <span>Location: [[ picked ]]</span> -->
    </div>
    {% verbatim %}
<script>

    var app = new Vue({
        // delimiters: ['[[', ']]'],
        el: '#app',
        components: {
            'button-location': buttonLocationComponent,
            'police-log-component': policeLogComponent,
            'property-component': propertyComponent,
            'harvest-items-component': harvestItemsComponent,
            'steal-game-component': stealGameComponent,
            'police-game-component': policeGameComponent,
        },
        data: {
            isOfficer: true,
            harvest: false,
            that: this,
            player: {},
            playerId: null,
            playerGroupId: null,
            playerLocation: {},
            messages: [],
            message: 'No players have moved yet!',
            singleMessage: null,
            activeLocation: -1,
            locations: [],
            properties: [],
            locationCount: 5,
            picked: true,
            chatSock: null,
            balance: 0,
            harvestItems: [],
            officerUnits: [],
        },
        created: function() {

            // generate objects for officer tokens
            for (let i = 1; i<=5; i++)
                this.officerUnits.push({num: i, property: null, x: null, y: null}) //todo change num to id from api when loading from rendered template into javascript

            this.player = JSON.parse(player)

            this.playerId = document.getElementById('playerId').textContent;
            this.playerGroupId = document.getElementById('groupPlayerId').textContent;
            this.isOfficer = this.playerGroupId == 1

            if (!this.isOfficer) {
                //todo: load location from db
                this.playerLocation = {'player': this.playerGroupId, 'property': this.player.property, 'x': this.player.x, 'y': this.player.y} // todo integrate this into app
            } else if (this.isOfficer) {
                //todo: load officer locations
            }

            const harvestItemNames = ['a', 'b', 'c', 'd'];

            // load harvest data
            for(let i = 0; i < harvestItemNames.length; i++) {
                this.harvestItems.push({id: i, name: harvestItemNames[i]});
            }

            // get player properties
            this.properties = [1, 2, 3, 4];

            for (let i = 0; i < this.locationCount; i++) {
                this.locations.push({name: i, isActive: false})
            }

            let that = this;
            this.gameSocket = new WebSocket('ws://' + window.location.host + '/delegated_punishment/' + this.playerId + '/' + this.playerGroupId +'/'),
            this.gameSocket.onmessage = function(e) {
                console.log(e.data);
                let data = JSON.parse(e.data);
                if (data.general) {
                    let message = "general message"
                    that.addMessage(message)
                } else if (data.personal) {
                    let message = "personal message"
                    that.addMessage(message)
                } else if (data.intersections) {
                    data.intersections.forEach(function(i) {
                        console.log('intersection: ', i)
                        // animate
                        that.addMessage("P" + i.player + " - Property" + i.property + " - Location: " + Math.round(10*i.x)/10 + ", " + Math.round(10*i.y)/10)
                        that.showIntersection(i)
                        if(i.player == that.playerId) {
                            that.qwerty()
                        }
                    })
                }
            };

            this.gameSocket.onclose = function(e) {
                console.error('CHAT SOCKET CLOSED UNEXPECTEDLY');
            };
        },
        methods: {
            qwerty: function() {
                gsap.to('#location', .5, {x: 0, y: 0})
                //gsap.to('#locationrect', {fill: 'purple'})
                // snap back
            },
            tokenUpdate: function(token) {
                this.gameSocket.send(JSON.stringify({
                    'token': token,
                    'player_id': this.playerId,
                    'group_id': 1, //todo fix this to be variable group id
                }));
            },
            locationUpdate: function(location) {
                console.log(location)
                this.gameSocket.send(JSON.stringify({
                    'steal': location,
                    'player_id': this.playerId,
                    'group_id': 1, //todo fix this to be variable group id
                }));
            },
            harvestUpdate: function(harvest) {
                this.gameSocket.send(JSON.stringify({
                    'harvest': harvest, //current,
                    'player_id': this.player_id,
                    'group_id': this.group_id,
                }));
            },
            showIntersection: function(i) {
                let selector = '#indicator' + i.property + '-' + i.player
                gsap.to(selector, 0, {left: i.x-15, top: i.y-10})
                gsap.to(selector, {visibility: 'visible'})
                gsap.to(selector, {visibility: 'hidden', delay: 2})
            },
            select: function(id) {
                this.location=id
            },
            throttle: function(n) {
                for (let i = 0; i < n; i++) {
                    this.gameSocket.send(JSON.stringify({
                        'test': 'test send by player: ' + this.playerId 
                    }));
                }
            },
            resetLocation() {
                this.locations.forEach(function (location) {
                    location.isActive = false;
                });
            },
            updateLocation(x) {
                if (this.activeLocation == x.name)
                    return;

                this.resetLocation() //todo: prob remove this old game logic
                x.isActive = true;
                this.activeLocation = x.name;

                this.gameSocket.send(JSON.stringify({
                    'p_id': this.playerId,
                    'location': x.name
                }));
            },
            addMessage(message) {
                if (message['test']) {
                    this.singleMessage = message['test']
                    return;
                }

                this.messages.push(message)
            }
        },
    });
</script>
{% endverbatim %}
