{% load otree %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.0.4/dist/gsap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.0.4/dist/Draggable.min.js"></script>

<!-- <script src="{% static 'global/main.js' %}"></script> -->
<script src="{% static 'global/officer.js' %}"></script>
<script src="{% static 'global/harvest.js' %}"></script>
<script src="{% static 'global/steal.js' %}"></script>


<style>
    
</style>

<link rel="stylesheet" type="text/css" href="{% static 'global/main.css' %}"></link>

<div>

    <div class="card bg-light instructions" style="display: none">
        <div class="card-body">
            <h2>
                Player <span id="playerId">{{player.id_in_group}}</span> <span id="groupPlayerId" style="display:none">{{player.id_in_group}}</span>
            </h2>
        </div>
    </div>

    {% verbatim %}
    <div id="app">
        <div class="panel game">
            <div id="officerGame" v-if="isOfficer">
                <police-game-component :properties="properties" :officer-units="officerUnits"></police-game-component>
            </div>
            <div id="harvestGame" v-else>
                <harvest-items-component class="harvest" v-show="harvest" style="display:flex;"></harvest-items-component>
                <steal-game-component v-show="!harvest" :properties="properties" :player-group-id="playerGroupId"></steal-game-component>
                <button v-show="!isOfficer" v-on:click='harvest = !harvest' class='toggle'>{{ harvest ? 'Steal' : 'Harvest'}}</button>
            </div>

        </div>
        <div class="panel status">
            <div class="balance-container">
                <div class="balance">Balance: {{balance}}</div>
            </div>
            <div class="notifications-container">
                <div>Notifications: {{singleMessage}}</div>
                <div id="generalFeed" class="messageBox">
                    <div v-for="message in messages">
                        <div v-if="playerId == message.p_id">You: {{message}}</div>
                        <div v-else><b>{{message}}</b></div>
                    </div>
                </div>  
            </div>
        </div>
        {% endverbatim %}
        <!-- <span>Location: [[ picked ]]</span> -->
    </div>
    {% verbatim %}
<script>

    // let NotificationsComponent = {
    //         props: { location: Object,},
    //         data: function () {
    //             return {
    //             }
    //         },
    //         computed: {

    //         },
    //         created: function () {
    //         },
    //         methods: {

    //         },
    //         template: '<div><button type="button"">{{location.name}}</button></div>'
    //     }

    // ANIMATINO DRAGGABLE CODE
    // gsap.registerPlugin(Draggable);
    // Draggable.create("#id", {
    //     type:"x,y",
    //     bounds: document.getElementById("tester"),
    //     inertia: true,
    //     onClick: function() {
    //         console.log("clicked");
    //     },
    //     onDragEnd: function() {
    //         console.log("drag ended");
    //     }
    // });

    Vue.component('alert-box', {
        template: `
            <div class="demo-alert-box">
            <strong>Error!</strong>
            <slot></slot>
            </div>
        `
        })

    var app = new Vue({
        // delimiters: ['[[', ']]'],
        el: '#app',
        components: {
            'button-location': buttonLocationComponent,
            'police-log-component': policeLogComponent,
            'property-component': propertyComponent,
            'harvest-items-component': harvestItemsComponent,
            'steal-component': stealComponent,
            'steal-game-component': stealGameComponent,
            'police-game-component': policeGameComponent,
        },
        data: {
            isOfficer: true,
            harvest: true,
            that: this,
            playerId: null,
            playerGroupId: null,
            messages: [],
            message: 'No players have moved yet!',
            singleMessage: null,
            activeLocation: -1,
            locations: [],
            properties: [],
            locationCount: 5,
            picked: true,
            chatSock: null,
            balance: 0,
            harvestItems: [],
            officerUnits: [],
        },
        methods: {
            select: function(id) {
                this.location=id
            },
            throttle: function(n) {
                for (var i = 0; i < n; i++) {
                    this.gameSocket.send(JSON.stringify({
                        'test': 'test send by player: ' + this.playerId 
                    }));
                }
            },
            resetLocation() {
                this.locations.forEach(function (location) {
                    location.isActive = false;
                });
            },
            updateLocation(x) {
                if (this.activeLocation == x.name)
                    return;

                this.resetLocation()

                x.isActive = true;
                this.activeLocation = x.name;

                let update = JSON.stringify({
                    'p_id': this.playerId,
                    'location': x.name
                })

                debugger;

                this.gameSocket.send(update);
            },
            addMessage(message) {
                if (message['test']) {
                    // this.messages.unshift(message['test'])
                    this.singleMessage = message['test']
                    return;
                }

                let caught_ids = message['ids'];
                let data = message['data']
                // if (message.p_id == this.player_id)
                //     update = "YOU " + message.text
                // else 
                //     update = "PLAYER " + message.p_id + " " + message.text
                update = (caught_ids.toString() ? "Players caught by ID: " + caught_ids.toString() : null)
                if (update) {
                    // this.messages.unshift(update)
                    this.singleMessage = update
                }
                console.log(update)
                if (data[this.playerId]) {
                    if (this.balance == data[this.playerId])
                        return;
                        
                    this.balance = data[this.playerId]
                    update = 'Your balance has been updated to: ' + this.balance
                    console.log(update)
                    // this.messages.unshift(update)
                    this.singleMessage = update
                }
            }
        },
        created: function() {

            this.officerUnits = [1,2,3,4,5,6,7,8,9,10]

            this.playerId = document.getElementById('playerId').textContent;
            this.playerGroupId = document.getElementById('groupPlayerId').textContent;
            this.isOfficer = this.playerGroupId == 1

            const harvestItemNames = ['a', 'b', 'c', 'd'];

            harvestItemNames.forEach(name => {

            });

            // load harvest data
            for(let i = 0; i < harvestItemNames.length; i++) {
                this.harvestItems.push({id: i, name: harvestItemNames[i]});
            }

            // get player properties
            this.properties = [1, 2, 3, 4];

            for (let i = 0; i < this.locationCount; i++) {
                this.locations.push({name: i, isActive: false})
            }

            let x = this;
            this.gameSocket = new WebSocket('ws://' + window.location.host + '/tag/'),
            this.gameSocket.onmessage = function(e) {
                console.log(e.data);
                debugger;
                var data = JSON.parse(e.data);
                // var data = e.data;
                x.addMessage(data)
            };

            this.gameSocket.onclose = function(e) {
                console.error('CHAT SOCKET CLOSED UNEXPECTEDLY');
            };
        },
    });
</script>
{% endverbatim %}
