{% load otree %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.0.4/dist/gsap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.0.4/dist/Draggable.min.js"></script>

<script src="{% static 'global/js/officer.js' %}"></script>
<script src="{% static 'global/js/harvest.js' %}"></script>
<script src="{% static 'global/js/steal.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'global/styles/harvest.css' %}"></link>
<link rel="stylesheet" type="text/css" href="{% static 'global/styles/steal.css' %}"></link>
<link rel="stylesheet" type="text/css" href="{% static 'global/styles/officer.css' %}"></link>
<link rel="stylesheet" type="text/css" href="{% static 'global/styles/main.css' %}"></link>
<link rel="stylesheet" type="text/css" href="{% static 'global/styles/notificationlog.css' %}"></link>

<script>
    // data is rendered on api here, then later read by vue instance
    var player =
    {{ pjson|json }}
    var dtokens =
    {{ dtokens|json }}
</script>

<div>
    <!-- this section is where we pull data from rendered template -->
    <div class="card bg-light instructions" style="display: none">
        <div class="card-body">
            <h2>
                Player <span id="playerId">{{ player.id_in_group }}</span> <span
                    id="groupPlayerId">{{ player.id_in_group }}</span>
            </h2>
        </div>
    </div>

    {% verbatim %}
    <div id="app">
        <officer-game-component
                id="officerGame"
                class="game-container"
                v-if="isOfficer"
                :properties="properties"
                :officer-units="officerTokens"
                :investigation-count=investigationCount
                :prob-culprit="probabilityCulprit"
                :prob-innocent="probabilityInnocent"
                :police-log-messages="policeLogMessages"
                :map-size="mapSize"
                :defend-token-size="defendTokenSize"
                @token-drag="tokenDrag"
                @token-update="tokenUpdate"
                @investigation-update="investigationUpdate"
                @defense-token-reset="defenseTokenReset">
        </officer-game-component>
        <div id="harvestGame" class="game-container" v-else>
            <harvest-items-component
                    v-if="harvest"
                    class="harvest"
                    style="display:flex;"
                    :harvest-status="harvestStatus"
                    @harvest-update="harvestUpdate">
            </harvest-items-component>
            <steal-game-component
                    v-show="!harvest"
                    :properties="properties"
                    :player-group-id="playerGroupId"
                    :player-location="playerLocation"
                    :investigation-count="investigationCount"
                    :prob-culprit="probabilityCulprit"
                    :prob-innocent="probabilityInnocent"
                    :police-log-messages="policeLogMessages"
                    :map-size="mapSize"
                    @location-drag="locationDrag"
                    @location-update="locationUpdate"
                    @location-token-reset="locationTokenReset">
            </steal-game-component>
            <div v-show="!isOfficer" @click='toggle' class='toggle'>{{ harvest ? 'Steal' : 'Harvest'}}</div>
        </div>
        <div class="panel game-status-container">
            <div class="balance-container">
                <div>DEBUG: ROI: {{ roi }}</div>
                <div class="balance-label">Balance</div>
                <div class="balance" :style="{ color: balanceColor }"> {{Math.floor(balance)}}</div>
                <div class="steal-notification">{{stealNotification}}</div>
            </div>
            <!--height: 0 is a hack -->
            <div class="notifications-container" style="height: 0;">
                <div class="title">Notifications</div>
                <div class="notification-log-container">
                    <div class="notification-log-column">
                        <div class="header"><div>Civ Punished</div></div>
                        <div class="content" ref="notificationLog1">
                            <div v-for="message in messages">{{message.civilianPunished}}</div>
                        </div>
                    </div>
                    <div class="notification-log-column">
                        <div class="header"><div>Officer Bonus</div></div>
                        <div class="content" ref="notificationLog2">
                            <div v-for="message in messages">{{message.officerBonus}}</div>
                        </div>
                    </div>
                    <div class="notification-log-column">
                        <div class="header"><div>Officer Reprimand</div></div>
                        <div class="content" ref="notificationLog3">
                            <div v-for="message in messages">{{message.officerReprimand}}</div>
                        </div>
                    </div>
                </div>

                <!--<button @click="addMessage">add message</button>-->
            </div>
        </div>
        {% endverbatim %}
    </div>
    {% verbatim %}
    <script>

        let app = new Vue({
            el: '#app',
            components: {
                'police-log-component': policeLogComponent,
                'harvest-items-component': harvestItemsComponent,
                'steal-game-component': stealGameComponent,
                'officer-game-component': officerGameComponent,
                'probability-bar-component': probabilityBarComponent,
            },
            data: {
                harvest: true,
                that: this,
                player: {},
                isOfficer: true,
                playerId: null,
                playerGroupId: null,
                playerLocation: {},
                policeLogMessages : [],
                messages: [],
                singleMessage: null,
                properties: [],
                locationCount: 5,
                balance: 0,
                balanceColor: 'black',
                roi: 0,
                harvestItems: [],
                harvestStatus: 0,
                officerTokens: [],
                investigationCount: 0,
                stealNotification: "",
                defendTokenSize: 36,
                mapSize: 240,
            },
            created: function () {

                this.player = JSON.parse(player);

                this.playerId = document.getElementById('playerId').textContent;
                this.playerGroupId = document.getElementById('groupPlayerId').textContent;
                this.isOfficer = this.playerGroupId == 1

                // this code is for handling page refreshes
                if (!this.isOfficer) {
                    this.playerLocation = {
                        'player': this.playerGroupId,
                        'property': this.player.property,
                        'x': this.player.x,
                        'y': this.player.y
                    } // todo integrate this into app
                } else if (this.isOfficer) {
                    this.officerTokens = JSON.parse(dtokens)
                }

                // player properties
                this.properties = [1, 2, 3, 4]

                let that = this;
                this.gameSocket = new WebSocket('ws://' + window.location.host + '/delegated_punishment/' + this.playerId + '/' + this.playerGroupId + '/'),
                    this.gameSocket.onmessage = function (e) {
                        let data = JSON.parse(e.data);
                        // console.log(data)
                        if (data.balance) {
                            if (data.balance == that.balance) { // balance has not changed
                                that.balanceColor = "black"
                            } else if (data.balance < that.balance) { // balance decreasing
                                that.balanceColor = "red"
                            } else { // balance increasing
                                that.balanceColor = "green"
                            }

                            that.balance = data.balance;
                            that.roi = data.roi
                        } else if (data.intersections) {
                            console.log(data.intersections)
                            data.intersections.forEach(function (i) {
                                if (i.guilty) { // only print if there were investigation defense tokens
                                    // todo we can assume the server is sending in this format at some point
                                    that.addMessage(i)
                                }

                                that.showIntersection(i)
                                if (i.player == that.playerId) {
                                    that.resetLocation()
                                }
                            })
                        } else if (data.investigation_update || data.investigation_update === 0) { //todo: is there a way to not have to work around truthy 0=false issue?
                            that.investigationCount = data.investigation_update
                            //console.log('INVESTIGATION RESULTS!', that.investigationCount)
                        }
                    };

                this.gameSocket.onclose = function (e) {
                    alert('channel closed');
                    console.error('CHANNEL CLOSED UNEXPECTEDLY');
                };

                this.subscribeToBalance()
            },
            methods: {
                toggle: function() {
                    // console.log('screen toggled')
                    if (this.harvest) {
                        // update local harvest status
                        // console.log('harvest reset')
                        this.harvestStatus = 0;
                        // console.log('steal active');

                        // send toggle event to db
                        this.stealActive()
                    } else {
                        // reset steal location
                        this.resetLocation()
                        // console.log('harvest active');

                        // reset harvest status and send toggle event to db
                        this.harvestActive()
                    }
                    this.harvest = !this.harvest
                },
                stealActive: function() {
                    // screen was toggled to steal
                    this.gameSocket.send(JSON.stringify({
                        'toggle': {harvest: false},
                        'player_id': this.playerId,
                        'group_id': 1, //todo: change this
                    }));
                },
                harvestActive: function() {
                    this.gameSocket.send(JSON.stringify({
                        'toggle': {harvest: true},
                        'player_id': this.playerId,
                        'group_id': 1,
                    }));

                },
                harvestUpdate: function (status) {
                    this.harvestStatus++;
                    //console.log('harvest status: ' + this.harvestStatus)
                    this.gameSocket.send(JSON.stringify({
                        'harvest': {status: this.harvestStatus},
                        'player_id': this.playerId,
                        'group_id': 1,
                    }));
                    // reset harvest cycle
                    if (this.harvestStatus == 4) {
                        this.harvestStatus = 0;
                        // reset harvest items
                        gsap.to('#seed, #water, #plow, #harvest', 0, {autoAlpha: 1});
                    }
                },
                subscribeToBalance: function () {
                    let that = this
                    setInterval(function () {
                        if (that.gameSocket.readyState == WebSocket.OPEN) {
                            that.gameSocket.send(JSON.stringify({
                                'balance': true,
                                'player_id': that.playerId,
                                'group_id': 1,
                            }));
                        } else {
                            console.log('the web socket is not connected')
                        }
                    }, 1000);
                },
                resetLocation: function () {
                    gsap.to('#location', .5, {x: 0, y: 0})
                },
                tokenDrag: function(token) {
                    //console.log('token drag')
                    //console.log(token)
                    this.gameSocket.send(JSON.stringify({
                        'defend_token_drag': token,
                        'player_id': this.playerId,
                        'group_id': 1, //todo fix this to be variable group id
                    }));
                },
                tokenUpdate: function (token) {
                    //console.log(token)
                    this.gameSocket.send(JSON.stringify({
                        'defend_token_update': token,
                        'player_id': this.playerId,
                        'group_id': 1, //todo fix this to be variable group id
                    }));
                },
                investigationUpdate: function(item) {
                    //console.log('token ' + item.number + ' set to investigation')
                    //console.log(item)
                    // inform the api that the item is being dragged
                    item.property = 0
                    this.gameSocket.send(JSON.stringify({
                        'investigation': item,
                        'player_id': this.playerId,
                        'group_id': 1, //todo: fix this to be variable group id
                    }));
                },
                locationDrag: function(location) {
                    //console.log('location drag')
                    this.gameSocket.send(JSON.stringify({
                        'location_token_drag': location,
                        'player_id': this.playerId,
                        'group_id': 1, //todo fix this to be variable group id
                    }));
                },
                locationUpdate: function (location) {
                    //console.log(location)
                    this.gameSocket.send(JSON.stringify({
                        'location_token_update': location,
                        'player_id': this.playerId,
                        'group_id': 1, //todo fix this to be variable group id
                    }));
                },
                locationTokenReset: function() {
                    // this function informs the api that the token has reset
                    this.gameSocket.send(JSON.stringify({
                        'location_token_reset': true,
                        'player_id': this.playerId,
                        'group_id': 1, //todo fix this to be variable group id
                    }));
                },
                defenseTokenReset: function(tokenNumber) {
                    this.gameSocket.send(JSON.stringify({
                        'defense_token_reset': tokenNumber,
                        'player_id': this.playerId,
                        'group_id': 1, //todo fix this to be variable group id
                    }));
                },
                showIntersection: function (i) {
                    // console.log(i)
                    let isSelf = i.player == this.playerId
                    if (isSelf) {
                        this.stealNotification = "You were caught!"
                        let that = this
                        setTimeout(function () {
                            that.stealNotification = '';
                        }, 2000);
                    }

                    let selector = '#indicator' + i.map + '-' + i.player
                    let tl = gsap.timeline();
                    let left = i.player_x - 3;
                    let right = i.player_y - 3;
                    //console.log('INDICATOR AT ' + left + ',' + right)
                    tl.to(selector, 0, {left: left, top: right});
                    tl.to(selector, {visibility: 'visible'});
                    tl.to(selector, {visibility: 'hidden', delay: 2})

                },
                addMessage(message) {
                    this.messages.push({
                        "civilianPunished": message.guilty,
                        "officerBonus": message.officer_bonus,
                        "officerReprimand": message.officer_reprimand,
                    });
                    /// police log messages run their own scrollToBottom in police log component
                    this.policeLogMessages.push({
                        "civilianPunished": message.guilty,
                        "mapNumber": message.map,
                        "time": message.event_time,
                    });
                    this.$nextTick(() => {
                        this.scrollToBottom()
                    })
                },
                scrollToBottom() {
                    let nScrollHeight = this.$refs.notificationLog1.scrollHeight

                    this.$refs.notificationLog1.scrollTop = nScrollHeight;
                    this.$refs.notificationLog2.scrollTop = nScrollHeight;
                    this.$refs.notificationLog3.scrollTop = nScrollHeight;

                }
            },
            computed: {
                probabilityCulprit() {
                    if (this.investigationCount == 0)
                        return 0
                    else {
                        return Math.floor((1 / 3 + 2 * (this.investigationCount) / 30) * 100)
                    }
                },
                probabilityInnocent() {
                    if (this.investigationCount == 0)
                        return 0
                    else {
                        return Math.floor((1 / 3 - (this.investigationCount) / 30) * 100)
                    }
                }
            },
        });
    </script>
    {% endverbatim %}
