{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Results
{% endblock %}


{% block content %}
    <style>
        .otree-btn-next {
            display: none;
        }
    </style>
    <div>
        <h4>Earnings summary</h4>
        <table class="table table-bordered">
{#          <thead>#}
{#            <tr>#}
{#              <th scope="col"></th>#}
{#              <th scope="col">Earnings summary</th>#}
{#            </tr>#}
{#          </thead>#}
          <tbody>
            <tr>
              <th scope="row">In game</th>
              <td>{{ before_tax }}</td>
            </tr>
            {% if your_tax is not None %}
            <tr>
              <th scope="row">Taxes</th>
              <td>{{ your_tax }}</td>
            </tr>
            {% endif %}
            <tr>
              <th scope="row">Net earnings</th>
              <td>{{ player.balance }}</td>
            </tr>
          </tbody>
        </table>

        <h4>Token Summary</h4>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Only You</th>
              <th scope="col">Group</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Tokens</th>
              <td>{{ your_tokens }}</td>
              <td>{{ defend_token_total }}</td>
            </tr>

            {% if player.id_in_group != 1 %}

                {% if your_tax is not None and big_c is not None%}
                    <tr>
                      <th scope="row">Tax</th>
                      <td>{{ your_tax }}</td>
                      <td>{{ defend_token_cost }}</td>
                    </tr>
                {% endif %}

            {% endif %}

          </tbody>
        </table>
    </div>


    <p>{% next_button %}</p>


{% endblock %}
