{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Results
{% endblock %}


{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'global/styles/officer.css' %}">
    <style>
        .otree-btn-next {
            display: none;
        }
    </style>

    <div>
        <div>
            <h4 class="card-title">Earnings Summary</h4>
            <div class="scrollable">
                <table class="table table-floating table-debug">
                    <tbody>

                        <tr>
                            <td>After tax earnings <img src="https://i.imgur.com/BQXgE3F.png" alt="grain" style="height: 20px;"></td>
                            <td style="text-align: right;">{{ balance }}</td>
                        </tr>

                        <tr>
                            <td>Before tax earnings<img src="https://i.imgur.com/BQXgE3F.png" alt="grain" style="height: 20px;"></td>
                            <td style="text-align: right;">{{ before_tax }}</td>
                        </tr>
                        {% if your_tax is not None %}
                        <tr>
                            <td scope="row">Taxes <img src="https://i.imgur.com/BQXgE3F.png" alt="grain" style="height: 20px;"></td>
                            <td style="text-align: right;">{{ your_tax }}</td>
                        </tr>
                        {% endif %}

                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <h4>Token Summary</h4>
        <table class="table table-floating">
          <thead>
            <tr>
              <th scope="col">Description</th>
              <th scope="col" style="text-align: right;">You</th>
              <th scope="col" style="text-align: right;">Group</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td># Tokens <div class="officer-unit" style="display: inline-block; height: 15px; width: 15px;"></div></td>
              <td style="text-align: right;">{{ your_tokens }}</td>
              <td style="text-align: right;">{{ defend_token_total }}</td>
            </tr>

            {% if player.id_in_group != 1 %}

                {% if your_tax is not None and big_c is not None%}
                    <tr>
                      <td>Total token Cost<img src="https://i.imgur.com/BQXgE3F.png" alt="grain" style="height: 20px;"></td>
                      <td style="text-align: right;">{{ your_tax }}</td>
                      <td style="text-align: right;">{{ defend_token_cost }}</td>
                    </tr>
                {% endif %}
            {% endif %}
          </tbody>
        </table>
    </div>

    <br>
{% endblock %}
