body {
    margin: 0;
    /* background: black; */
}
#app {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    /*overflow: hidden;*/
}
.game-container {
    flex: 0 0 70%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    position: relative;
}
.game-status-container {
    flex: 0 0 30%;
    box-sizing: border-box;

    border-left: 1px solid black;
    display: flex;
    flex-direction: column;
}
.balance-container {
    flex: 0 0 50%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-bottom: 1px solid black;
}
.notifications-container {
    flex: 0 0 50%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 50px;
}
.toggle {
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;

    min-width: 100px;
    background: #f2ff2d;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
}
.balance-label {
    font-size: 25px;
    text-align: center;
}
.balance {
    font-size: 75px;
}
.steal-notification {
    text-align: center;
    min-height: 50px;
    color: red;
    font-size: 24px;
}










.upper {
    flex: 1;
    border-bottom: 1px solid black;
}
.lower {
    flex: 1;
    display: flex;

    overflow: hidden;
}






.half {
    flex: 1;
}
.panel {
    position: relative;
}
.game {
    width:  100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.steal {
    height: 100%;
}
.harvest {
    height: 100%;
}
.locations {
    display: flex;
    flex-direction: row;
}
.locations span button {
    margin: 20px;
    padding: 20px;
}
.occupied{
    background-color:red;
}
.messageBox {
    overflow-y: hidden;
    height: 90%;
    width: 100%;
    /*border: 1px solid black;*/
}

.upper-harvest {
    height: 50%;
    border-bottom: 1px solid black;
    box-sizing: border-box;
}

.indicator {
    position: relative;
    left: 100px;
    top: 100px;
    visibility: hidden;
    z-index: 900;
}
.title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 25px;
}

.title-small {
    font-size: 20px;
}

/*property maps*/
.property {
    position: relative;
    width: 240px;
     min-width: 240px;
    max-width: 240px;
    height: 240px;
     max-height: 240px;
    min-height: 240px;
}

.properties-container {
    display: flex;
    justify-content: space-around;
}

.property-container {
    display: flex;
    flex-direction: column;
}

.property-label {
    text-align: center;
}

.property.self {
    background: darkgrey;
    border: 1px solid black;
}
.property.other {
    border: 1px solid black;
}

.token-container {
    margin: 25px;
}

.bar {
    height: 20px;
    width: 240px;
    border: 1px solid black;
}

