.investigation-data-container {
    flex: 0 0 50%;
    box-sizing: border-box;
    padding: 50px;
}
.culprit {
    height: 100%;
    background: #3261ff;
}
.innocent {
    height: 100%;
    background: #3261ff;
}
.officer-units {
    display: flex;
    justify-content: space-around;
}
.officer-unit {
    opacity: .5;
    width: 36px;
    height: 36px;
    background: green;
}
#officer-detective-container {
    width: 240px;
    height: 240px;
    background: #3261ff;
    border: 1px solid black;
}