.police-log-container {
    border-right: 1px solid black;
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.police-log {
    height: 45vh;

    width: 100%;
    margin: 50px;
}
.bar {
    height: 20px;
    width: 200px;
    border: 1px solid black;
}
.culprit {
    height: 100%;
    background: blue;
}
.innocent {
    height: 100%;
    background: blue;
}
.officer-data {
    flex-grow: 1;
    padding: 50px;
    box-sizing: border-box;
}
.officer-units {
    display: flex;
    justify-content: space-around;
}
.officer-unit {
    opacity: .5;
    width: 30px;
    height: 30px;
    background: green;
}
#officer-detective-container {
    width: 100px;
    height: 100px;
    background: blue;
}